
p, label, h1, h2, h3, h4, h5 {
	color: white;
	margin: 0;
}

.leaflet-popup-content-wrapper {
	p, h1, h2, h3, h4, h5 {
		color: black;
	}
}

.leaflet-popup-content-content {
	color: black !important;
}

